<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/search/css/index.css">
    <link rel="stylesheet" type="text/css" href="/static/search/font/iconfont.css">
    <!--<script src="/static/search//js/jquery-3.2.1.min.js"></script>-->
    <script src="/static/search//js/jquery-1.12.4.js"></script>
    <title>Document</title>
</head>
<body>
<!--头部-->
<div class="header_head">
    <div class="header_head_box">
        <b class="header_head_p">
            <div style="overflow: hidden">
                <a href="http://mall-yeye.com" class="header_head_p_a1" style="width:73px;">
                    商城首页
                </a>
                <a href="" class="header_head_p_a">
                    <!--<img src="/static/search/img/img_05.png" style="border-radius: 50%;"/>-->
                    北京</a>
            </div>
        </b>
        <ul>
            <li>
                <a href="http://auth.mall-yeye.com/login.html"
                   th:if="${session.loginUser == null}">
                    你好，请登录</a>
                <a href="http://member.mall-yeye.com/memberInfo.html"
                   th:if="${session.loginUser != null}"
                   th:text="${'你好，'+session.loginUser.nickname}">
                    你好，请登录</a>
            </li>
            </li>
            <li>
                <a href="http://auth.mall-yeye.com/reg.html" th:if="${session.loginUser == null}">免费注册</a>
            </li>
            <span>|</span>
            <li>
                <a href="http://member.mall-yeye.com/memberOrderList.html">我的订单</a>
            </li>

        </ul>
    </div>
</div>

<!--搜索导航-->
<div class="header_sous">
    <div class="logo">
        <a href="http://mall-yeye.com"><img src="/static/logo.png" alt=""></a>
    </div>
    <div class="header_form">
        <input id="keyword_input" type="text" placeholder="手机" th:value="${param.keyword}"/>
        <a th:onclick="searchByKeyWord()">搜索</a>
    </div>
    <div class="header_ico">
        <div class="header_gw">
            <span><a href="http://cart.mall-yeye.com/cart.html">我的购物车</a></span>
            <img src="/static/search/image/settleup-@1x.png"/>
            <span>0</span>
        </div>
    </div>
</div>

<hr style="border: 1px solid red;margin-top: -7px;">

<!--热卖促销-->
<div class="JD_temai">
</div>

<!--手机-->
<div class="JD_ipone">
    <div class="JD_ipone_bar">
        <div class="JD_ipone_one a">
            <a href="">导航栏</a>
        </div>
        <i><img src="/static/search/image/right-@1x.png" alt=""></i>


        <div class="JD_ipone_one c">
            <!-- 遍历面包屑功能 -->
            <a th:href="${nav.link}" th:each="nav:${result.navs}">
                <span th:text="${nav.navName}"> </span>
                ：
                <span th:text="${nav.navValue}"></span> x
                <i><img src="/static/search/image/right-@1x.png" alt=""></i>
            </a>
        </div>

        <i><img src="/static/search/image/right-@1x.png" alt=""></i>
    </div>
</div>

<!--商品筛选和排序-->
<div class="JD_banner w">
    <div class="JD_nav">
        <div class="JD_selector">
            <!--手机商品筛选-->
            <div class="title">
                <h3><b>筛选</b><em>商品筛选</em></h3>
                <div class="st-ext">共&nbsp;<span th:text="${result.getTotal()}">100000s</span>个商品</div>
            </div>
            <div class="JD_nav_logo">
                <!--品牌-->
                <div class="JD_nav_wrap" th:if="${#strings.isEmpty(param.brandId)}">
                    <div class="sl_key">
                        <span><b>品牌：</b></span>
                    </div>
                    <div class="sl_value">
                        <div class="sl_value_logo">
                            <ul>
                                <li th:each="brand: ${result.getBrandVos()}">
                                    <a th:href="${'javascript:searchProducts(&quot;brandId&quot;,'+brand.getBrandId()+')'}">
                                        <img th:src="${brand.getBrandImg()}" alt="">
                                        <div th:text="${brand.getBrandName()}">
                                            <华为>
                                                <HUAWEI></HUAWEI>
                                            </华为>
                                        </div>
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>

                </div>
                <!--分类-->
                <div class="JD_pre" th:if="${#strings.isEmpty(param.catalog3Id)}">
                    <div class="sl_key">
                        <span><b>分类：</b></span>
                    </div>
                    <div class="sl_value">
                        <ul>
                            <li th:each="catalog : ${result.getCatalogVos()}">
                                <a href=""
                                   th:href="${'javascript:searchProducts(&quot;catalog3Id&quot;,'+catalog.getCatalogId()+')'}"
                                   th:text="${catalog.getCatalogName()}">
                                    16G
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>
                <!--属性-->
                <div class="JD_pre" style="border: 0" th:each="attr :${result.getAttrVos()}"
                     th:if="${!#lists.contains( result.getAttrNavIds(),attr.getAttrId())}">
                    <div class="sl_key">
                        <span th:text="${attr.getAttrName()}">机身内存：</span>
                    </div>
                    <div class="sl_value">
                        <ul>
                            <li th:each="value : ${attr.getAttrValue()}">
                                <a th:href="${'javascript:searchProducts(&quot;attrs&quot;,&quot;'+attr.getAttrId()+'_'+value.toString()+'&quot;)'}"
                                   th:text="${value}">
                                    16G
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>

        </div>
        <!--排序-->
        <div class="JD_banner_main">

            <!--综合排序-->
            <div class="JD_con_right">
                <div class="filter">
                    <!--综合排序-->
                    <div class="filter_top">
                        <div class="filter_top_left" th:with="p = ${param.sort}, priceRange = ${param.skuPrice}">
                            <!-- 通过判断当前class是否有desc来进行样式的渲染和箭头的显示-->
                            <a sort="hotScore"
                               th:class="${(!#strings.isEmpty(p) && #strings.startsWith(p,'hotScore') && #strings.endsWith(p,'desc')) ? 'sort_a desc' : 'sort_a'}"
                               th:attr="style=${(#strings.isEmpty(p) || #strings.startsWith(p,'hotScore')) ?
               'color: #fff; border-color: #e4393c; background: #e4393c;':'color: #333; border-color: #ccc; background: #fff;' }">
                                综合排序[[${(!#strings.isEmpty(p) && #strings.startsWith(p,'hotScore') &&
                                #strings.endsWith(p,'desc')) ?'↓':'↑' }]]</a>
                            <a sort="saleCount"
                               th:class="${(!#strings.isEmpty(p) && #strings.startsWith(p,'saleCount') && #strings.endsWith(p,'desc')) ? 'sort_a desc' : 'sort_a'}"
                               th:attr="style=${(!#strings.isEmpty(p) && #strings.startsWith(p,'saleCount')) ?
               'color: #fff; border-color: #e4393c; background: #e4393c;':'color: #333; border-color: #ccc; background: #fff;' }">
                                销量[[${(!#strings.isEmpty(p) && #strings.startsWith(p,'saleCount') &&
                                #strings.endsWith(p,'desc'))?'↓':'↑' }]]</a>
                            <a sort="skuPrice"
                               th:class="${(!#strings.isEmpty(p) && #strings.startsWith(p,'skuPrice') && #strings.endsWith(p,'desc')) ? 'sort_a desc' : 'sort_a'}"
                               th:attr="style=${(!#strings.isEmpty(p) && #strings.startsWith(p,'skuPrice')) ?
               'color: #fff; border-color: #e4393c; background: #e4393c;':'color: #333; border-color: #ccc; background: #fff;' }">
                                价格[[${(!#strings.isEmpty(p) && #strings.startsWith(p,'skuPrice') &&
                                #strings.endsWith(p,'desc'))?'↓':'↑' }]]</a>
                            <a sort="hotScore" class="sort_a">评论分</a>
                            <a sort="hotScore" class="sort_a">上架时间</a>
                            <!--价格区间搜索-->
                            <input id="skuPriceFrom" type="number"
                                   th:value="${#strings.isEmpty(priceRange)?'':#strings.substringBefore(priceRange,'_')}"
                                   style="width: 100px; margin-left: 30px">
                            -
                            <input id="skuPriceTo" type="number"
                                   th:value="${#strings.isEmpty(priceRange)?'':#strings.substringAfter(priceRange,'_')}"
                                   style="width: 100px">
                            <button id="skuPriceSearchBtn">确定</button>
                        </div>
                        <div class="filter_top_right">
                            <span class="fp-text">
                               <b>[[${result.pageNum}]]</b><em>/</em><i>[[${result.totalPages}]]</i>
                           </span>
                            <div class="prev " th:if="${result.getPageNum()>1}">
                                <a class="  page_p" style="display: block ;width: 100%; height: auto"
                                   th:attr="pn=${result.getPageNum()-1}"><</a>
                            </div>
                            <div class=" next" th:if="${result.getPageNum()<result.getTotalPages()}">
                                <a class="  page_p" style="display: block ;width: 100%; height: auto"
                                   th:attr="pn=${result.getPageNum()+1}">></a>
                            </div>
                        </div>
                    </div>
                    <!--收货地址-->
                    <div class="filter_bottom">
                        <div class="filter_bottom_left">
                            <div class="fs-cell">收货地</div>
                            <div class="dizhi">
                                <div class="dizhi_show">
                                    <em>北京朝阳区三环以内</em>
                                    <b></b>
                                </div>
                            </div>
                            <div class="dizhi_con">
                                <ul id="tab">
                                    <li id="tab1" value="1">北京 <img src="/static/search/image/down-@1x.png" alt=""></li>
                                    <li id="tab2" value="2">朝阳 <img src="/static/search/image/down-@1x.png" alt=""></li>
                                    <li id="tab3" value="3">三环以内 <img src="/static/search/image/down-@1x.png" alt="">
                                    </li>
                                </ul>
                                <div id="container">
                                    <div id="content1" style="z-index: 1;">
                                        <a href="">北京</a>
                                        <a href="">上海</a>
                                        <a href="">天津</a>
                                        <a href="">重庆</a>
                                        <a href="">河北</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="filter_bottom_right">
                            <ul>
                                <li>
                                    <a href="" th:with="check = ${param.hasStock}">
                                        <input id="showHasStock" type="checkbox"
                                               th:checked=" ${#strings.equals(check,'1')}">
                                        仅显示有货
                                    </a>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <!--排序内容 44-->
                    <div class="rig_tab">
                        <div th:each="product :${result.getProducts()}">
                            <p class="da">
                                <a th:href="|http://item.mall-yeye.com/${product.getSkuId()}.html|">
                                    <img th:src="${product.getSkuImg()}" class="dim">
                                </a>
                            </p>
                            <ul class="tab_im">
                                <li><a th:href="|http://item.mall-yeye.com/${product.getSkuId()}.html|" title="黑色">
                                    <img th:src="${product.getSkuImg()}"></a></li>

                            </ul>
                            <p class="tab_R">
                                <span th:text="'¥' +${product.getSkuPrice()}">¥1000.00</span>

                            </p>
                            <p class="tab_JE">
                                <a th:href="|http://item.mall-yeye.com/${product.getSkuId()}.html|" th:utext="${product.getSkuTitle()}">
                                    222222222
                                </a>
                            </p>

                            <div class="tab_FO">
                                <div class="FO_one">
                                    <p>自营
                                        <span>shoppe品质保证</span>
                                    </p>
                                    <p>可参与秒杀
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!--分页-->
                    <div class="filter_page">
                        <div class="page_wrap">
                            <span class="page_span1">
                                <a class="page_p" th:if="${result.getPageNum()>1}"
                                   th:attr="pn=${result.getPageNum()-1}">
                                    < 上一页
                                </a>
                                <div th:each=" index :${result.getRainBow()}">
                                    <a class="page_p"
                                        th:if="${(result.getTotalPages() > 0 )
                                   && (index <=result.getTotalPages())}"
                                        th:attr="pn=${index} ,style =${index == result.getPageNum() ? 'border: 0;color:#ee2222;background: #fff' : '' }"


                                > [[${index}]] </a>
                                </div>


                                <!--<a href="" style="border: 0;font-size: 20px;color: #999;background: #fff">...</a>-->
                                <a class="page_p" th:attr="pn=${result.getPageNum()+1}"
                                   th:if="${result.getPageNum()<result.getTotalPages()}">
                                    下一页 >
                                </a>
                            </span>
                            <span class="page_span2">
                                <em>共<b>[[${result.getTotalPages()}]]</b>页&nbsp;&nbsp;到第</em>
                                <input type="number" value="1">
                                <em>页</em>
                                <a href="">确定</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--商品精选-->
<div class="JD_jx">
</div>
<div class="footer">
    <div class="ng-promise-box">
        <div class="ng-promise">
            <p class="text">
                <a href="javascript:;" class="icon1">7天无理由退换货</a>
                <a href="javascript:;" class="icon2">满99元全场免邮</a>
                <a href="javascript:;" class="icon3" style="margin-right: 0px;">100%品质保证</a>
            </p>
        </div>
    </div>
    <div class="mod_help">
        <p>
            <a href="http://mall-yeye.com" class="router-link-exact-active router-link-active">首页</a>
            <span>|</span>
            <a href="http://search.mall-yeye.com/list.html" class="">全部商品</a>
            <span>|</span>
            <a href="http://mall-yeye.com" class="">官网</a>
        </p>
        <p class="coty">商城版权归shopee所有 © 2022-2023</p></div>
</div>



<script>

    $(".dizhi_show").hover(function () {
        $(".dizhi_con").css({display: "block"})
    }, function () {
        $(".dizhi_con").css({display: "none"})
    });
    $(".dizhi_con").hover(function () {
        $(this).css({display: "block"})
    }, function () {
        $(this).css({display: "none"})
    });


    //右侧侧边栏
    $(".header_bar_box ul li").hover(function () {
        $(this).css({
            background: "#7A6E6E"
        }).children(".div").css({
            display: "block"
        }).stop(true).animate({
            left: "-60px"
        }, 300)
    }, function () {
        $(this).css({
            background: "#7A6E6E"
        }).children(".div").css({
            display: "none"
        }).stop(true).animate({
            left: "0"
        }, 300)
    });


    //底部
    $(".footer_foot .p1 a").hover(function () {
        $(this).css("color", "#D70B1C")
    }, function () {
        $(this).css("color", "#727272")
    });

    $(".footer .footer_center ol li a").hover(function () {
        $(this).css("color", "#D70B1C")
    }, function () {
        $(this).css("color", "#727272")
    })


    function searchProducts(name, value) {
        //原來的页面
        location.href = replaceParamVal(location.href, name, value, true)
    };

    /**
     * @param url 目前的url
     * @param paramName 需要替换的参数属性名
     * @param replaceVal 需要替换的参数的新属性值
     * @param forceAdd 该参数是否可以重复查询(attrs=1_3G:4G:5G&attrs=2_骁龙845&attrs=4_高清屏)
     * @returns {string} 替换或添加后的url
     */
    function replaceParamVal(url, paramName, replaceVal, forceAdd) {
        var oUrl = url.toString();
        var nUrl;
        if (replaceVal.toString().indexOf("+") !== -1) {
            replaceVal = replaceVal.replace("+", "%2B");
        }

        if (oUrl.indexOf("pageNum") !== -1 && paramName === "pageNum") {
            var re = eval('/(' + paramName + '=)([^&]*)/gi');
            nUrl = oUrl.replace(re, paramName + '=' + replaceVal);
            return nUrl;
        }

        if (oUrl.indexOf("keyword") !== -1 && paramName === "keyword") {
            var re = eval('/(' + paramName + '=)([^&]*)/gi');
            nUrl = oUrl.replace(re, paramName + '=' + replaceVal);
            return nUrl;
        }

        if (oUrl.indexOf("skuPrice") !== -1 && paramName === "skuPrice") {
            var re = eval('/(' + paramName + '=)([^&]*)/gi');
            nUrl = oUrl.replace(re, paramName + '=' + replaceVal);
            return nUrl;
        }

        if (oUrl.indexOf(paramName) !== -1) {
            if (forceAdd && oUrl.indexOf(paramName + "=" + replaceVal) === -1) {
                if (oUrl.indexOf("?") !== -1) {
                    nUrl = oUrl + "&" + paramName + "=" + replaceVal;
                } else {
                    nUrl = oUrl + "?" + paramName + "=" + replaceVal;
                }
            } else {
                var re = eval('/(' + paramName + '=)([^&]*)/gi');
                nUrl = oUrl.replace(re, paramName + '=' + replaceVal);
            }
        } else {
            if (oUrl.indexOf("?") !== -1) {
                nUrl = oUrl + "&" + paramName + "=" + replaceVal;
            } else {
                nUrl = oUrl + "?" + paramName + "=" + replaceVal;
            }
        }
        return nUrl;
    };

    function searchByKeyWord() {
        let val = $("#keyword_input").val();
        searchProducts("keyword", val);
    }

    $(".page_p").click(function () {
        let pn = $(this).attr("pn");
        searchProducts("pageNum", pn);
        return false;
    });

    $(".sort_a").click(function () {
        //添加、剔除desc
        $(this).toggleClass("desc");
        //获取sort属性值并进行url跳转
        let sort = $(this).attr("sort");
        sort = $(this).hasClass("desc") ? sort + "_desc" : sort + "_asc";
        location.href = replaceParamVal(location.href, "sort", sort, false);
        return false;
    });

    $("#skuPriceSearchBtn").click(function () {
        var skuPriceFrom = $("#skuPriceFrom").val();
        var skuPriceTo = $("#skuPriceTo").val();
        location.href = replaceParamVal(location.href, "skuPrice", skuPriceFrom + "_" + skuPriceTo, true);
    })

    $("#showHasStock").change(function () {

        if ($(this).prop('checked')) {//选中
            location.href = replaceParamVal(location.href, "hasStock", 1, false);
        } else {
            let s = location.href;
            var re = eval('/(hasStock=)([^&]*)/gi');
            nUrl = s.replace(re, '');
            location.href = nUrl;
        }

    });


</script>
</body>
</html>